[user]
	name = Marc Casadevall
	email = mcasadevall@stxgroup.com

[core]
	editor = vim
	ignorecase = false

[help]
	autocorrect = 1

[fetch]
	prune = true

[push]
	default = simple

[init]
	defaultBranch = master

[pull]
	rebase = false