#!/usr/bin/env bash

alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Shortcuts
alias c="clear"

# Directories
alias ..="cd .."
alias ...="cd ../.."

# Laravel
alias pa="php artisan"

# Docker
alias dc="docker-compose"

# Kubernetes
alias k="kubectl"

# Git
alias gst="git status"
alias amend="git add . && git commit --amend --no-edit"
alias force="git push --force"
alias nuke="git clean -df && git reset --hard"
alias undo='git reset --soft HEAD~1'
alias stash="git stash -u"
alias pop="git stash pop"
alias wip="commit wip"